.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__button
	&__button {
		z-index: 3;
		display: flex;
		width: toRem(40);
		height: toRem(40);
		position: relative;
		align-items: center;
		justify-content: center;
		border-radius: toRem(10);
		background: linear-gradient(269deg, rgba(#4a746d, 0.95) 0%, rgba(#198e3a, 0.95) 93.5%);
	}
	// .menu__body
	&__body {
		@media (min-width: $mobile) {
			left: 0;
			top: 50px;
			opacity: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			position: absolute;
			visibility: hidden;
			transform: scale(0);
			min-width: toRem(300);
			max-width: toRem(300);
			transition:
				opacity 0.3s ease 0s,
				transform 0.3s ease 0s,
				visibility 0.3s ease 0s;
			.menu-open & {
				opacity: 1;
				transform: scale(1);
				visibility: visible;
			}
		}
		@media (max-width: $mobile) {
			top: 0;
			z-index: 1;
			width: 100%;
			left: -100%;
			height: 100%;
			overflow: auto;
			position: fixed;
			transition: left 0.3s;
			background-color: $bgMainColor;
			padding: toRem(90) toRem(15) toRem(25) toRem(15);
			&::before {
				top: 0;
				z-index: 2;
				content: "";
				width: 100%;
				left: -100%;
				position: fixed;
				height: toRem(70);
				transition: left 0.3s;
				background-color: #311a39;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__aside
	&__aside {
	}
}
//Burger Icon
.icon-menu {
	z-index: 5;
	display: block;
	width: toRem(25);
	height: toRem(16);
	position: relative;
	@media (any-hover: none) {
		cursor: default;
	}
	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: toRem(2);
		border-radius: toRem(10);
		background-color: $bgColor;
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	span {
		width: 75%;
		top: calc(50% - toRem(1));
	}
	.menu-open & {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - toRem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - toRem(1));
			transform: rotate(45deg);
		}
	}
}
