// ========================================================================================================================================================
// Spoller
.spollers {
	display: grid;
	gap: 16px;
	// .spollers__item
	&__item {
		padding: toRem(15);
		border-radius: toRem(16);
		background-color: $purpleColor;
		border: 1px solid rgba($mainColor, 0.1);
	}
	// .spollers__title
	&__title {
		width: 100%;
		cursor: default;
		text-align: left;
		font-weight: 500;
		position: relative;
		list-style: none;
		&::marker,
		&::-webkit-details-marker {
			display: none;
		}
		._spoller-init & {
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0px;
				top: 50%;
				background-color: $blueColor;
				height: 1.5px;
				width: 10px;
				transition: transform 0.5s ease 0s;
			}
			&::before {
				transform: translate(-75%, -50%) rotate(-40deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(40deg);
			}
			&._spoller-active {
				&::before {
					transform: translateX(-75%) rotate(40deg);
				}
				&::after {
					transform: rotate(-40deg);
				}
			}
		}
	}
	// .spollers__span
	&__span {
		display: flex;
		gap: toRem(12);
		margin-right: toRem(30);
		span {
			display: flex;
			line-height: 120%;
			align-items: center;
			@include adaptiveValue("font-size", 20, 18);
		}
		&::before {
			display: flex;
			width: toRem(24);
			height: toRem(24);
			align-items: center;
			font-size: toRem(24);
			justify-content: center;
		}
		&--yellow {
			&::before {
				color: $yellowColor;
			}
		}
		&--red {
			&::before {
				color: $redColor;
			}
		}
		&--blue {
			&::before {
				color: $blueColor;
			}
		}
		&--primary {
			&::before {
				color: $primaryColor;
			}
		}
	}
	// .spollers__body
	&__body {
		margin-top: toRem(12);
		padding-top: toRem(12);
		border-top: toRem(1) solid rgba($mainColor, 0.25);
		.metric__ranges {
			padding: toRem(16) toRem(0);
		}
	}
}
// ========================================================================================================================================================
