// ========================================================================================================================================================
// Tabs
.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 15, 10);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .tabs__title
	&__title {
		width: 100%;
		display: flex;
		gap: toRem(8);
		align-items: center;
		justify-content: center;
		border-radius: toRem(12);
		background-color: $bgColor;
		padding: toRem(12) toRem(0);
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s;
		@include adaptiveValue("font-size", 18, 14);
		&:first-child {
			color: $blueColor;
			border: toRem(1) solid rgba($blueColor, 0.5);
		}
		&:last-child {
			color: $redColor;
			border: toRem(1) solid rgba($redColor, 0.5);
		}
		&._tab-active {
			&:last-child {
				color: $mainColor;
				background-color: rgba($redColor, 0.5);
			}
			&:first-child {
				color: $mainColor;
				background-color: rgba($blueColor, 0.5);
			}
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body {
		position: relative;
	}
}
// ========================================================================================================================================================
// Tabs Auth
.tabs-auth {
	// .tabs-auth__navigation
	&__navigation {
		display: flex;
		margin: toRem(0) toRem(-15);
		&:not(:last-child) {
			margin-bottom: toRem(24);
		}
	}
	// .tabs-auth__title
	&__title {
		width: 100%;
		line-height: 125%;
		font-size: toRem(16);
		padding-bottom: toRem(8);
		border-bottom: 1px solid transparent;
		&._tab-active {
			border-bottom: 1px solid $primaryColor;
		}
	}
	// .tabs-auth__content
	&__content {
	}
	// .tabs-auth__body
	&__body {
	}
}
// ========================================================================================================================================================
// Tabs Payment
.tabs-payment {
	// .tabs-payment__navigation
	&__navigation {
		width: 100%;
		display: flex;
		gap: toRem(10);
		align-items: center;
		&.bg-ord {
			padding: toRem(10);
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (max-width: $mobileSmall) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			&.bg-ord {
				padding: 0;
				border: none;
				box-shadow: none;
			}
		}
	}
	// .tabs-payment__title
	&__title {
		width: 100%;
		opacity: 0.5;
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		background-color: $bgColor;
		transition: opacity 0.3s ease 0s;
		@include adaptiveValue("border-radius", 15, 3);
		img {
			width: 100%;
			filter: grayscale(1);
			pointer-events: none;
			transform: scale(1.05);
		}
		&._tab-active {
			opacity: 1;
			img {
				filter: grayscale(0);
			}
		}
	}
	// .tabs-payment__content
	&__content {
	}
	// .tabs-payment__body
	&__body {
	}
}
// ========================================================================================================================================================
