// ========================================================================================================================================================
//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn
.button {
	line-height: 125%;
	align-items: center;
	display: inline-flex;
	font-size: toRem(16);
	justify-content: center;
	transition:
		background-color 0.3s ease 0s,
		color 0.3s ease 0s;
	// -------------------------------
	// .button--lr
	&--lr {
		color: #fff;
		min-height: toRem(44);
		border-radius: toRem(60);
		background-color: $primaryColor;
		@media (any-hover: hover) {
			&:hover {
				background-color: $pinkColor;
			}
		}
	}
	// -------------------------------
	// Buttons For Header Register
	&--lb,
	&--rb,
	&--ob {
		gap: toRem(8);
		min-height: toRem(40);
		border-radius: toRem(10);
		padding: toRem(8) toRem(10);
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		&::before {
			display: flex;
			width: toRem(18);
			height: toRem(18);
			align-items: center;
			justify-content: center;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $purpleColor;
			}
		}
	}
	// .button--lb
	&--lb {
		color: $primaryColor;
		background-color: $bgColor;
		border: toRem(1) solid $primaryColor;
	}
	// .button--rb
	&--rb {
		color: $redColor;
		background-color: $bgColor;
		border: toRem(1) solid $redColor;
	}
	// .button--ob
	&--ob {
		color: $orangeColor;
		background-color: $bgColor;
		border: toRem(1) solid $orangeColor;
	}
	// -------------------------------
	// .button--ord
	&--ord {
		width: auto;
		font-weight: 500;
		overflow: hidden;
		position: relative;
		text-align: center;
		min-height: toRem(50);
		border-radius: toRem(30);
		background-color: $bgColor;
		padding: toRem(0) toRem(30);
		border: toRem(1) solid $redColor;
		span {
			z-index: 1;
			gap: toRem(8);
			display: flex;
			position: relative;
			align-items: center;
		}
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			top: toRem(0);
			left: toRem(0);
			position: absolute;
			background: $gradientOrange;
			transition: left 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					left: 100%;
				}
			}
		}
	}
}
// ========================================================================================================================================================
