// ========================================================================================================================================================
// Options
.options {
	display: grid;
	gap: toRem(12);
	// .options__item
	&__item {
		display: flex;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		align-items: center;
		border-radius: toRem(12);
		border: toRem(1) solid rgba(#fff, 0.15);
		&.rtl-reverse {
			.options__label {
				&::after {
					left: 16px;
					right: auto;
				}
			}
		}
	}
	// .options__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .options__label:before {
		}
		&:checked + .options__label:before {
		}
		&:checked + .options__label:after {
			transform: scale(1);
		}
	}
	// .options__label
	&__label {
		gap: 15px;
		width: 100%;
		display: flex;
		cursor: pointer;
		align-items: center;
		min-height: toRem(56);
		background-color: $bgColor;
		padding: toRem(0) toRem(16);
		flex-direction: row-reverse;
		justify-content: space-between;
		&:before {
			content: "";
			margin-top: toRem(17);
			align-self: flex-start;
			width: 22px;
			height: 22px;
			flex: 0 0 22px;
			border-radius: 50%;
			background-color: $bgColor;
			border: 1px solid $pinkColor;
		}
		&:after {
			@extend %ic;
			content: "\e903";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 22px;
			height: 22px;
			border-radius: 50%;
			font-size: toRem(12);
			position: absolute;
			right: 16px;
			top: 17px;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $pinkColor;
		}
		&.lab-chk {
			&::before,
			&::after {
				border-radius: toRem(3);
			}
		}
	}
	// .options__text
	&__text {
		display: flex;
		gap: toRem(8);
		line-height: 125%;
		align-items: center;
		@include adaptiveValue("font-size", 16, 14);
		&::before {
			display: flex;
			width: toRem(20);
			color: $pinkColor;
			height: toRem(20);
			align-items: center;
			font-size: toRem(22);
			justify-content: center;
		}
	}
}
// ========================================================================================================================================================
// Lang Options
.lang {
	display: grid;
	gap: toRem(8);
	@media (min-width: $mobileSmall) {
		grid-template-columns: repeat(auto-fill, minmax(toRem(120), 1fr));
	}
	// .lang__item
	&__item {
		display: flex;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		align-items: center;
		justify-content: center;
		border-radius: toRem(12);
	}
	// .lang__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .lang__label {
		}
		&:checked + .lang__label {
			background-color: rgba($blueColor, 0.15);
			border: toRem(1) solid $primaryColor;
		}
		&._form-error-lang + .lang__label {
			transition: border 0.3s ease 0s;
			border: toRem(1) solid rgba($redColor, 0.5);
		}
	}
	// .lang__label
	&__label {
		width: 100%;
		display: flex;
		cursor: pointer;
		align-items: center;
		min-height: toRem(56);
		justify-content: center;
		border-radius: toRem(12);
		background-color: $bgColor;
		transition:
			background-color 0.3s ease 0s,
			border 0.3s ease 0s;
		border: toRem(1) solid rgba($mainColor, 0.1);
	}
	// .lang__text
	&__text {
		line-height: 125%;
	}
}
// ========================================================================================================================================================
// Gender Options
.gender {
	display: flex;
	gap: toRem(13);
	// .gender__item
	&__item {
		width: 100%;
		display: flex;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		align-items: center;
		border-radius: toRem(12);
	}
	// .gender__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .gender__label {
		}
		&:checked + .gender__label {
			border: 1px solid $blueColor;
			background-color: rgba($blueColor, 0.3);
		}
		&._form-error-gender + .gender__label {
			background-color: $purpleColor;
			transition: border 0.3s ease 0s;
			border: toRem(1) solid $pinkColor;
		}
	}
	// .gender__label
	&__label {
		width: 100%;
		display: flex;
		cursor: pointer;
		height: toRem(82);
		line-height: 129%;
		align-items: center;
		justify-content: center;
		border-radius: toRem(12);
		background-color: $purpleColor;
		border: toRem(1) solid $pinkColor;
		transition:
			background-color 0.3s ease 0s,
			border 0.3s ease 0s;
	}
	// .gender__text
	&__text {
		display: flex;
		gap: toRem(8);
		align-items: center;
		flex-direction: column;
	}
}
// ========================================================================================================================================================
// Talent Options
.talent {
	display: grid;
	gap: toRem(8);
	grid-template-columns: repeat(auto-fill, minmax(toRem(100), 1fr));
	// .talent__item
	&__item {
		display: flex;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		align-items: center;
		justify-content: center;
		border-radius: toRem(12);
	}
	// .talent__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .talent__label {
		}
		&:checked + .talent__label {
			background-color: rgba($blueColor, 0.15);
			border: toRem(1) solid $primaryColor;
		}
	}
	// .talent__label
	&__label {
		width: 100%;
		display: flex;
		cursor: pointer;
		align-items: center;
		min-height: toRem(56);
		justify-content: center;
		border-radius: toRem(12);
		background-color: rgba($redColor, 0.15);
		transition:
			background-color 0.3s ease 0s,
			border 0.3s ease 0s;
		border: toRem(1) solid rgba($mainColor, 0.1);
	}
	// .talent__img
	&__img {
		padding: toRem(25);
		img {
			max-width: 100%;
		}
	}
}
// ========================================================================================================================================================
// Term Options
.term {
	display: grid;
	gap: toRem(8);
	@media (min-width: $mobileSmall) {
		grid-template-columns: repeat(auto-fill, minmax(toRem(160), 1fr));
	}
	// .term__item
	&__item {
		display: flex;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		align-items: center;
		justify-content: center;
		border-radius: toRem(12);
	}
	// .term__input
	&__input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		&:focus-visible + .term__label {
		}
		&:checked + .term__label {
			background-color: rgba($pinkColor, 0.25);
			border: toRem(1) solid rgba($pinkColor, 0.75);
		}
	}
	// .term__label
	&__label {
		width: 100%;
		display: flex;
		cursor: pointer;
		align-items: center;
		min-height: toRem(50);
		justify-content: center;
		border-radius: toRem(12);
		background-color: $bgColor;
		transition:
			background-color 0.3s ease 0s,
			border 0.3s ease 0s;
		border: toRem(1) solid rgba($mainColor, 0.25);
	}
	// .term__text
	&__text {
		font-weight: 500;
		line-height: 125%;
	}
}
// ========================================================================================================================================================
