//========================================================================================================================================================
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&::before {
		@extend %ic;
	}
}
//========================================================================================================================================================
// Fonts Of Icons
._icon-recive:before {
	content: "\e967";
}
._icon-send:before {
	content: "\e968";
}
._icon-bell-full:before {
	content: "\e941";
}
._icon-undo:before {
	content: "\e965";
}
._icon-redo:before {
	content: "\e966";
}
._icon-lock:before {
	content: "\e98f";
}
._icon-unlocked:before {
	content: "\e990";
}
._icon-users:before {
	content: "\e972";
}
._icon-user-plus:before {
	content: "\e973";
}
._icon-user-check:before {
	content: "\e975";
}
._icon-about:before {
	content: "\e900";
}
._icon-arrow-min:before {
	content: "\e901";
}
._icon-arrow:before {
	content: "\e902";
}
._icon-check:before {
	content: "\e903";
}
._icon-date:before {
	content: "\e904";
}
._icon-family:before {
	content: "\e905";
}
._icon-faq:before {
	content: "\e906";
}
._icon-goal:before {
	content: "\e907";
}
._icon-hobby:before {
	content: "\e908";
}
._icon-info:before {
	content: "\e909";
}
._icon-kids:before {
	content: "\e90a";
}
._icon-language:before {
	content: "\e90b";
}
._icon-link:before {
	content: "\e90c";
}
._icon-look:before {
	content: "\e90d";
}
._icon-messages:before {
	content: "\e90e";
}
._icon-move:before {
	content: "\e90f";
}
._icon-partner:before {
	content: "\e910";
}
._icon-profile:before {
	content: "\e911";
}
._icon-quest:before {
	content: "\e912";
}
._icon-search:before {
	content: "\e913";
}
._icon-user:before {
	content: "\e914";
}
._icon-alert:before {
	content: "\e915";
}
._icon-bell:before {
	content: "\e916";
}
._icon-bookmark:before {
	content: "\e917";
}
._icon-clock:before {
	content: "\e918";
}
._icon-eye:before {
	content: "\e919";
}
._icon-eye-off:before {
	content: "\e91a";
}
._icon-present:before {
	content: "\e91b";
}
._icon-heart:before {
	content: "\e91c";
}
._icon-help-circle:before {
	content: "\e91d";
}
._icon-image:before {
	content: "\e91e";
}
._icon-link-ic:before {
	content: "\e91f";
}
._icon-mail:before {
	content: "\e920";
}
._icon-location:before {
	content: "\e921";
}
._icon-phone:before {
	content: "\e922";
}
._icon-dislike:before {
	content: "\e923";
}
._icon-like:before {
	content: "\e924";
}
._icon-trash:before {
	content: "\e925";
}
._icon-sign-01:before {
	content: "\e935";
}
._icon-sign-02:before {
	content: "\e936";
}
._icon-sign-03:before {
	content: "\e937";
}
._icon-sign-04:before {
	content: "\e938";
}
._icon-sign-05:before {
	content: "\e939";
}
._icon-sign-06:before {
	content: "\e93a";
}
._icon-sign-07:before {
	content: "\e93b";
}
._icon-sign-08:before {
	content: "\e93c";
}
._icon-sign-09:before {
	content: "\e93d";
}
._icon-sign-10:before {
	content: "\e93e";
}
._icon-sign-11:before {
	content: "\e93f";
}
._icon-sign-12:before {
	content: "\e940";
}
._icon-arrow-sn:before {
	content: "\e926";
}
._icon-aside-aw:before {
	content: "\e927";
}
._icon-aside-cw:before {
	content: "\e928";
}
._icon-aside-ed:before {
	content: "\e929";
}
._icon-aside-in:before {
	content: "\e92a";
}
._icon-aside-mg:before {
	content: "\e92b";
}
._icon-aside-ph:before {
	content: "\e92c";
}
._icon-aside-pw:before {
	content: "\e92d";
}
._icon-aside-sr:before {
	content: "\e92e";
}
._icon-aside-st:before {
	content: "\e92f";
}
._icon-aside-tp:before {
	content: "\e930";
}
._icon-aside-vd:before {
	content: "\e931";
}
._icon-aside-vt:before {
	content: "\e932";
}
._icon-aside-wp:before {
	content: "\e933";
}
._icon-aside-wr:before {
	content: "\e934";
}
//========================================================================================================================================================
