// ========================================================================================================================================================
// Chart
.chart {
	// .chart__container
	&__container {
	}
	// .chart__content
	&__content {
	}
	// .chart__heading
	&__heading {
		.heading__text {
			max-width: 100%;
			&.text {
				a {
					color: $blueColor;
				}
			}
		}
	}
	// .chart__accounts
	&__accounts {
		.accounts__account {
			background-color: #381d42;
		}
	}
}
// ========================================================================================================================================================
