//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	display: none;
	width: toRem(1);
	border-radius: toRem(10);
	background-color: $bgColor;
}
::-webkit-scrollbar-thumb {
	border-radius: toRem(10);
	background-color: $mainColor;
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
//========================================================================================================================================================
// Before & After Content
.ba-cont {
	position: relative;
	background-color: #fff;
	&::before,
	&::after {
		top: 0;
		z-index: -1;
		content: "";
		width: 1000%;
		height: 100%;
		position: absolute;
		background-color: #fff;
	}
	&::before {
		left: 100%;
	}
	&::after {
		right: 100%;
	}
}
// Title
.title {
	// .title--min
	&--min {
		font-weight: 500;
		line-height: 125%;
		font-size: toRem(16);
	}
}
//========================================================================================================================================================
