//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	border-radius: toRem(10);
	background-color: $bgColor;
}
::-webkit-scrollbar-thumb {
	border-radius: toRem(10);
	background-color: $yellowColor;
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
summary {
	list-style: none;
	&::marker {
		display: none;
	}
}
@supports (-webkit-appearance: none) {
	summary::-webkit-details-marker {
		display: none;
	}
}
//========================================================================================================================================================
// Before & After Content
.ba-cont {
	position: relative;
	background-color: #fff;
	&::before,
	&::after {
		top: 0;
		z-index: -1;
		content: "";
		width: 1000%;
		height: 100%;
		position: absolute;
		background-color: #fff;
	}
	&::before {
		left: 100%;
	}
	&::after {
		right: 100%;
	}
}
// Heading
.heading {
	display: grid;
	justify-items: start;
	// .heading--center
	&--center {
		text-align: center;
		justify-items: center;
	}
	// .heading--mr
	&--mr {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 25);
		}
	}
	// .heading__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}
	// .heading__subtitle
	&__subtitle {
		line-height: 125%;
		display: inline-flex;
		border-radius: toRem(12);
		background: $gradientPink;
		padding: toRem(5) toRem(10);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}
	// .heading__text
	&__text {
		max-width: toRem(630);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}
	// .heading__button
	&__button {
	}
}
// Greed Container Wuth Menu
.cont-menu {
	display: grid;
	gap: toRem(25);
	align-items: start;
	@media (min-width: $tablet) {
		grid-template-columns: toRem(300) 1fr;
	}
}
// ========================================================================================================================================================
// Title & Text
.title {
	line-height: 125%;
	// .title--min
	&--min {
		font-weight: 500;
		font-size: toRem(16);
	}
	// .title--int
	&--int {
		font-weight: 700;
		font-family: $fontFamilyMontAlt;
		@include adaptiveValue("font-size", 32, 24);
	}
	// .title--blu
	&--blu {
		font-weight: 500;
		background: $gradientBlue;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include adaptiveValue("font-size", 30, 22);
	}
	// .title--red
	&--red {
		font-weight: 500;
		background: $gradientOrange;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include adaptiveValue("font-size", 30, 22);
	}
}
.text {
	line-height: 130%;
	@include adaptiveValue("font-size", 18, 14);
	&--sf {
		font-family: $fontFamilyMontAlt;
	}
	p {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}
.img {
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: scale(1.01);
		transition: transform 0.5s ease 0s;
	}
}
.bg-ord {
	padding: toRem(15);
	border-radius: toRem(15);
	box-shadow:
		rgba($bgColor, 0.4) 0px 3px 15px 0px,
		rgba($bgColor, 0.4) 0px 3px 15px 0px;
	// .bg-ord--or
	&--pl {
		background: linear-gradient(90deg, rgba(#514197, 0.75) 0%, rgba(#7e1450, 0.15) 100%);
	}
	// .bg-ord--pk
	&--pk {
		background: linear-gradient(90deg, rgba(#902562, 0.75) 0%, rgba(#456b1b, 0.15) 100%);
	}
	// .bg-ord--pm
	&--pm {
		background-color: #381d42;
		border: toRem(1) solid rgba(#fff, 0.1);
	}
	// .bg-ord--pg
	&--pg {
		background: linear-gradient(90deg, rgba($purpleColor, 1) 0%, rgba(#ff6a00, 0.15) 100%);
	}
	// .bg-ord--gr
	&--gr {
		border: toRem(1) solid rgba(#fff, 0.1);
		background: linear-gradient(-90deg, rgba(#34465a, 0.85) 0%, rgba(#105e19, 0.85) 100%);
	}
}
.bg-shad {
	box-shadow:
		rgba($bgColor, 0.4) 0px 3px 15px 0px,
		rgba($bgColor, 0.4) 0px 3px 15px 0px;
	&--rbwl {
		box-shadow:
			rgba(240, 46, 170, 0.4) -5px 5px,
			rgba(240, 46, 170, 0.3) -10px 10px,
			rgba(240, 46, 170, 0.2) -15px 15px,
			rgba(240, 46, 170, 0.1) -20px 20px,
			rgba(240, 46, 170, 0.05) -25px 25px;
	}
	&--rbwr {
		box-shadow:
			rgba(240, 46, 170, 0.4) 5px 5px,
			rgba(240, 46, 170, 0.3) 10px 10px,
			rgba(240, 46, 170, 0.2) 15px 15px,
			rgba(240, 46, 170, 0.1) 20px 20px,
			rgba(240, 46, 170, 0.05) 25px 25px;
	}
}
//========================================================================================================================================================
// Aside
.aside {
	padding: toRem(5);
	border-radius: toRem(12);
	background-color: $purpleColor;
	// .aside__list
	&__list {
		display: flex;
		flex-direction: column;
	}
	// .aside__item
	&__item {
		border-radius: toRem(5);
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($redColor, 0.35);
			}
		}
		&:not(:last-child) {
			.aside__link {
				border-bottom: toRem(1) solid rgba($mainColor, 0.1);
			}
		}
	}
	// .aside__link
	&__link {
		display: flex;
		align-items: center;
		margin: toRem(0) toRem(5);
		padding: toRem(8) toRem(0);
		flex-direction: row-reverse;
		color: rgba($mainColor, 0.85);
		justify-content: space-between;
		&::before {
			font-size: toRem(22);
			transform: rotate(90deg);
		}
	}
	// .aside__inlink
	&__inlink {
		display: flex;
		gap: toRem(8);
		align-items: center;
		font-size: toRem(16);
		&::before {
			display: flex;
			width: toRem(24);
			height: toRem(24);
			align-items: center;
			font-size: toRem(20);
			justify-content: center;
		}
		span {
			display: flex;
			color: $redColor;
			align-items: center;
			font-size: toRem(14);
			min-height: toRem(22);
			justify-content: center;
			border-radius: toRem(30);
			padding: toRem(0) toRem(8);
			background-color: rgba($redColor, 0.3);
		}
		// .aside__inlink--cl-01
		&--cl-01 {
			&::before {
				color: $yellowColor;
			}
		}
		// .aside__inlink--cl-02
		&--cl-02 {
			&::before {
				color: #925fa4;
			}
		}
		// .aside__inlink--cl-03
		&--cl-03 {
			&::before {
				color: #1b8ccd;
			}
		}
		// .aside__inlink--cl-04
		&--cl-04 {
			&::before {
				color: #3fbf31;
			}
		}
		// .aside__inlink--cl-05
		&--cl-05 {
			&::before {
				color: #706b23;
			}
		}
		// .aside__inlink--cl-06
		&--cl-06 {
			&::before {
				color: #a7dd83;
			}
		}
		// .aside__inlink--cl-07
		&--cl-07 {
			&::before {
				color: #45a1ba;
			}
		}
		// .aside__inlink--cl-08
		&--cl-08 {
			&::before {
				color: #3df43d;
			}
		}
		// .aside__inlink--cl-09
		&--cl-09 {
			&::before {
				color: $primaryColor;
			}
		}
	}
}
// Article
.articles {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(toRem(230), 1fr));
	@include adaptiveValue("gap", 20, 15);
	// .articles__item
	&__item {
		overflow: hidden;
		position: relative;
		border-radius: toRem(20) toRem(20) toRem(25) toRem(25);
		@media (any-hover: hover) {
			&:hover {
				.articles__image {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
	// .articles__image
	&__image {
		position: relative;
		&::before {
			z-index: 1;
			content: "";
			width: 100%;
			height: 100%;
			right: toRem(0);
			bottom: toRem(0);
			position: absolute;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(145, 4, 28, 0.34) 100%);
		}
	}
	// .articles__top
	&__top {
		z-index: 1;
		width: 100%;
		display: flex;
		top: toRem(15);
		position: absolute;
		align-items: center;
		padding: toRem(0) toRem(15);
		justify-content: space-between;
	}
	// .articles__photo
	&__photo {
		display: flex;
		gap: toRem(3);
		font-weight: 500;
		align-items: center;
		border-radius: toRem(5);
		padding: toRem(3) toRem(5);
		background-color: rgba(#ff6a00, 0.7);
		transition: background-color 0.3s ease 0s;
		box-shadow:
			rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
			rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
		&::before {
			margin-bottom: toRem(1);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(#ff6a00, 1);
			}
		}
	}
	// .articles__online
	&__online {
		font-size: toRem(14);
		pointer-events: none;
		border-radius: toRem(12);
		background-color: $greenColor;
		padding: toRem(3) toRem(5);
		box-shadow:
			rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
			rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	}
	// .articles__content
	&__content {
		bottom: 0;
		z-index: 1;
		width: 100%;
		position: absolute;
		&--mb {
			bottom: 15px;
		}
	}
	// .articles__label
	&__label {
		font-weight: 600;
		padding-left: toRem(15);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .articles__region
	&__region {
		padding-left: toRem(15);
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .articles__button
	&__button {
		width: 100%;
	}
}
// Video
.video {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
	@include adaptiveValue("gap", 20, 15);
	// .video__item
	&__item {
		overflow: hidden;
		position: relative;
		border-radius: toRem(20);
		@media (any-hover: hover) {
			&:hover {
				.video__button {
					opacity: 1;
				}
				.video__image {
					img {
						transform: scale(1.1);
					}
				}
				.video__content {
					transform: translate(0px, 100%);
				}
			}
		}
	}
	// .video__image
	&__image {
	}
	// .video__button
	&__button {
		left: 0;
		top: 50%;
		right: 0;
		display: flex;
		margin: 0 auto;
		width: toRem(55);
		height: toRem(55);
		color: $mainColor;
		position: absolute;
		align-items: center;
		font-size: toRem(45);
		justify-content: center;
		transform: translate(0px, -50%);
		transition: opacity 0.3s ease 0s;
		@media (min-width: $mobile) {
			opacity: 0.7;
		}
	}
	// .video__content
	&__content {
		left: 0;
		bottom: 0;
		width: 100%;
		position: absolute;
		padding: toRem(15);
		border-radius: toRem(15);
		transition: transform 0.8s ease 0s;
		background-color: rgba(#ee0979, 0.5);
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
			rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	}
	// .video__label
	&__label {
		font-weight: 600;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .video__region
	&__region {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
}
//========================================================================================================================================================
// Switch
.switch {
	display: flex;
	gap: toRem(15);
	align-items: center;
	justify-content: space-between;
	h5 {
		line-height: 125%;
	}
	&:not(:last-child) {
		padding-bottom: toRem(10);
		border-bottom: toRem(1) solid rgba(#fff, 0.1);
	}
	&:not(:first-child) {
		padding-top: toRem(10);
	}
	// .switch__label
	&__label {
		position: relative;
		display: inline-block;
		min-width: 48px;
		height: 28px;
		input {
			opacity: 0;
			width: 0;
			height: 0;
		}
		input:checked + .switch__slider {
			background-color: $primaryColor;
		}
		input:focus + .switch__slider {
			box-shadow: 0 0 1px #2196f3;
		}
		input:checked + .switch__slider:before {
			-webkit-transform: translateX(20px);
			-ms-transform: translateX(20px);
			transform: translateX(20px);
		}
	}
	// .switch__slider
	&__slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		&::before {
			position: absolute;
			content: "";
			height: 24px;
			width: 24px;
			left: 2px;
			bottom: 2px;
			border-radius: 50%;
			background-color: #fff;
			-webkit-transition: 0.4s;
			transition: 0.4s;
			box-shadow:
				0 1px 2px 0 rgba(0, 0, 0, 0.06),
				0 1px 3px 0 rgba(0, 0, 0, 0.1);
		}
	}
	// .switch__round
	&__round {
		border-radius: 34px;
	}
}
//========================================================================================================================================================
// Slider Arrow & Dotts
.arrows-mrg {
	top: 50%;
	z-index: 1;
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: space-between;
	transform: translate(0px, -50%);
	// .arrows-mrg__arrow
	&__arrow {
		overflow: hidden;
		width: toRem(35);
		font-weight: 700;
		height: toRem(35);
		position: relative;
		font-size: toRem(22);
		border-radius: toRem(10);
		background: $gradientOrange;
		transition: opacity 0.4s ease 0s;
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.75;
			}
		}
		// .arrows-mrg__arrow--prev
		&--prev {
			transform: rotate(-90deg);
			margin-left: toRem(-17.5);
			@media (max-width: toEm(1210)) {
				margin-left: toRem(-10);
			}
		}
		// .arrows-mrg__arrow--next
		&--next {
			transform: rotate(90deg);
			margin-right: toRem(-17.5);
			@media (max-width: toEm(1210)) {
				margin-right: toRem(-10);
			}
		}
	}
}
.arrows {
	display: flex;
	align-items: center;
	// .arrows__arrow
	&__arrow {
		overflow: hidden;
		width: toRem(35);
		font-weight: 700;
		height: toRem(35);
		position: relative;
		font-size: toRem(22);
		border-radius: toRem(10);
		background: $gradientOrange;
		transition: opacity 0.4s ease 0s;
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.75;
			}
		}
		// .arrows__arrow--prev
		&--prev {
			transform: rotate(-90deg);
		}
		// .arrows__arrow--next
		&--next {
			transform: rotate(90deg);
		}
	}
}
.dotts {
	width: 100%;
	display: flex;
	gap: toRem(7);
	flex-wrap: wrap;
	position: absolute;
	justify-content: center;
	transform: translate(0px, 100%);
	@include adaptiveValue("bottom", -20, -15);
	.swiper-pagination-bullet {
		display: flex;
		flex: 0 0 22px;
		cursor: pointer;
		margin: 2px 0px;
		height: toRem(22);
		position: relative;
		align-items: center;
		justify-content: center;
		&::after {
			content: "";
			width: toRem(8);
			height: toRem(8);
			border-radius: 50%;
			background-color: #d8d8d8;
			transition: background-color 0.3s ease 0s;
		}
		&::before {
			top: 0;
			left: 0;
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 50%;
			transform: scale(0);
			border: 1px solid $orangeColor;
			transition: all 0.3s ease 0s;
		}
	}
	.swiper-pagination-bullet-active {
		&::after {
			background-color: $orangeColor;
		}
		&::before {
			transform: scale(1);
		}
	}
}
//========================================================================================================================================================
// Upload File Picture
.upload {
	// .upload__area
	&__area {
		width: 100%;
		display: flex;
		cursor: pointer;
		height: toRem(200);
		text-align: center;
		align-items: center;
		border-radius: 10px;
		justify-content: center;
		background-color: $bgColor;
		border: 1px dashed $pinkColor;
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($blueColor, 0.1);
			}
		}
		&._form-error {
			border: 1px dashed $redColor;
		}
	}
	// .upload__label
	&__label {
		line-height: 125%;
		padding: toRem(0) toRem(30);
		@include adaptiveValue("font-size", 16, 14);
	}
	// .upload__input
	&__input {
		&[type="file"] {
			display: none;
		}
	}
}
// ========================================================================================================================================================
