//========================================================================================================================================================
// Footer
.footer {
	padding-top: toRem(20);
	padding-bottom: toRem(20);
	background-color: $purpleColor;
	box-shadow:
		rgba(240, 46, 170, 0.2) 0px -5px,
		rgba(240, 46, 170, 0.1) 0px -10px,
		rgba(240, 46, 170, 0.05) 0px -15px;
	@include adaptiveValue("margin-top", 70, 30);
	// .footer__container
	&__container {
	}
	// .footer__side
	&__side {
		display: flex;
		gap: toRem(15);
		align-items: start;
		padding-bottom: toRem(20);
		justify-content: space-between;
		border-bottom: toRem(1) solid rgba(#fff, 0.1);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (max-width: $tablet) {
			gap: toRem(0);
			flex-direction: column;
		}
	}
	// .footer__block
	&__block {
		display: flex;
		gap: toRem(15);
		align-items: start;
		flex-direction: column;
		@include adaptiveValue("max-width", 400, 300, 2, $containerWidth, 991.98);
		@media (max-width: $tablet) {
			width: 100%;
			text-align: center;
			align-items: center;
			padding-bottom: toRem(20);
			border-bottom: toRem(1) solid rgba(#fff, 0.1);
			margin: toRem(0) auto toRem(20) auto;
		}
	}
	// .footer__logo
	&__logo {
		align-items: center;
		display: inline-flex;
		border-radius: toRem(30);
		padding: toRem(5) toRem(10);
		transition: opacity 0.3s ease 0s;
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		background: linear-gradient(-90deg, #ee0979 0%, #ff6a00 100%);
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.95;
			}
		}
	}
	// .footer__text
	&__text {
		line-height: 130%;
		padding: toRem(8);
		border-radius: toRem(10);
		background: linear-gradient(90deg, rgba($greenColor, 0.35) 0%, rgba(#456b1b, 0.25) 100%);
	}
	// .footer__navigation
	&__navigation {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 50, 20, 2, $containerWidth, 991.98);
		@media (max-width: $tablet) {
			width: 100%;
			flex-wrap: wrap;
			column-gap: toRem(25);
			justify-content: space-between;
		}
	}
	// .footer__article
	&__article {
	}
	// .footer__subtitle
	&__subtitle {
		font-weight: 500;
		font-size: toRem(20);
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}
	// .footer__list
	&__list {
	}
	// .footer__item
	&__item {
	}
	// .footer__link
	&__link {
		line-height: 130%;
		padding: toRem(3) toRem(0);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
	// .footer__actions
	&__actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $mobile) {
			gap: toRem(15);
			padding: toRem(10);
			align-items: start;
			flex-direction: column;
		}
	}
	// .footer__navs
	&__navs {
		display: flex;
		gap: toRem(25);
		align-items: center;
		@media (max-width: $mobile) {
			width: 100%;
			gap: toRem(5);
			justify-content: space-between;
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(10);
			flex-direction: column;
		}
	}
	// .footer__social
	&__social {
		display: flex;
		gap: toRem(8);
		align-items: center;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
				text-decoration: underline;
			}
		}
	}
	// .footer__svg
	&__svg {
		display: flex;
		width: toRem(25);
		height: toRem(25);
		align-items: center;
		justify-content: center;
		margin-bottom: toRem(1.5);
	}
	// .footer__personal
	&__personal {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellowColor;
				text-decoration: underline;
			}
		}
	}
	// .footer__select
	&__select {
		display: flex;
		gap: toRem(10);
		align-items: center;
		@media (max-width: $mobile) {
			width: 100%;
			justify-content: space-between;
		}
	}
	// .footer__copy
	&__copy {
		opacity: 0.85;
	}
}
//========================================================================================================================================================
