// ========================================================================================================================================================
// Intro
.intro {
	@include adaptiveValue("padding-top", 50, 25);
	// .intro__container
	&__container {
	}
	// .intro__content
	&__content {
		display: grid;
		gap: toRem(30);
		align-items: start;
		grid-template-columns: repeat(2, 1fr);
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
		@media (max-width: $mobile) {
			grid-template-columns: auto;
		}
	}
	// .intro__heading
	&__heading {
		display: grid;
		align-items: start;
		.heading__text {
			max-width: toRem(450);
		}
		.heading__button {
			@media (max-width: $mobileSmall) {
				width: 100%;
			}
		}
	}
	// .intro__gallery
	&__gallery {
		height: 100%;
		display: grid;
		position: relative;
	}
	// .intro__slider
	&__slider.swiper {
		overflow: hidden;
		border-radius: toRem(10);
	}
	// .intro__wrapper
	&__wrapper {
	}
	// .intro__slide
	&__slide {
		transition:
			opacity 0.3s ease 0s,
			filter 1s ease 0s;
		&.swiper-slide-active {
			opacity: 1;
		}
		&.swiper-slide-next {
			opacity: 0.4;
			filter: blur(15px);
		}
		&.swiper-slide-prev {
			opacity: 0.4;
			filter: blur(15px);
		}
	}
	// .intro__svg
	&__svg {
		width: toRem(50);
		height: toRem(50);
		position: absolute;
		animation: circle 2.5s infinite;
		@media (max-width: $mobile) {
			opacity: 0.95;
		}
		// .intro__svg--one
		&--one,
		&--two {
			top: -10px;
		}
		&--one {
			left: -10px;
			transform: rotate(-45deg);
		}
		// .intro__svg--two
		&--two {
			right: -10px;
			transform: rotate(45deg);
		}
		// .intro__svg--three
		&--three,
		&--four {
			bottom: -10px;
		}
		&--three {
			left: -10px;
			transform: rotate(-135deg);
		}
		// .intro__svg--four
		&--four {
			right: -10px;
			transform: rotate(135deg);
		}
		@keyframes circle {
			0% {
				width: toRem(50);
				height: toRem(50);
			}
			50% {
				width: toRem(40);
				height: toRem(40);
			}
			100% {
				width: toRem(50);
				height: toRem(50);
			}
		}
	}
	// .intro__bottom
	&__bottom {
	}
	// .intro__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .intro__text
	&__text {
	}
}
// Hero
.hero {
	@include adaptiveValue("padding-top", 70, 30);
	// .hero__container
	&__container {
	}
	// .hero__heading
	&__heading {
	}
	// .hero__articles
	&__articles {
	}
}
// New
.new {
	@include adaptiveValue("padding-top", 70, 30);
	// .new__container
	&__container {
	}
	// .new__heading
	&__heading {
	}
	// .new__video
	&__video {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}
	// .new__regions
	&__regions {
		display: flex;
		gap: toRem(10);
		flex-wrap: wrap;
		line-height: 125%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
		span {
			display: flex;
			gap: toRem(5);
			font-weight: 600;
			&::before {
				font-weight: 600;
			}
		}
	}
	// .new__regions-link
	&__regions-link {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			&::after {
				content: "";
				display: flex;
				width: toRem(5);
				height: toRem(5);
				border-radius: 50%;
				margin-left: toRem(10);
				background-color: #fff;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .new__articles
	&__articles {
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .new__button
	&__button {
		display: flex;
		justify-content: center;
		.button {
			width: auto;
			padding: toRem(0) toRem(25);
			@include adaptiveValue("font-size", 16, 14);
		}
		@media (max-width: $mobileSmall) {
			.button {
				padding: toRem(0) toRem(15);
			}
		}
	}
}
// Blog
.blog {
	@include adaptiveValue("padding-top", 70, 30);
	// .blog__container
	&__container {
	}
	// .blog__heading
	&__heading {
	}
	// .blog__items
	&__items {
		display: grid;
		@include adaptiveValue("gap", 20, 15);
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
		}
	}
	// .blog__item
	&__item {
	}
}
.item-blog {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	border-radius: toRem(15);
	background-color: rgba(#ff6a00, 0.5);
	&:nth-child(2n) {
		background-color: rgba(#ee0979, 0.3);
		flex-direction: column-reverse;
	}
	@media (max-width: $mobile) {
		&:nth-child(2n) {
			flex-direction: column;
		}
	}
	@media (any-hover: hover) {
		&:hover {
			.item-blog__title {
				text-decoration: underline;
			}
			.item-blog__image {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .item-blog__content
	&__content {
		padding: toRem(15);
	}
	// .item-blog__date
	&__date {
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .item-blog__title
	&__title {
		line-height: 125%;
		font-family: $fontFamilyMontAlt;
		@include adaptiveValue("font-size", 22, 18);
	}
	// .item-blog__image
	&__image {
		height: 100%;
		border-radius: toRem(15);
	}
}
// Online
.online {
	margin-bottom: toRem(40);
	@include adaptiveValue("padding-top", 60, 30);
	// .online__container
	&__container {
	}
	// .online__heading
	&__heading {
	}
	// .online__gallery
	&__gallery {
		position: relative;
	}
	// .online__slider
	&__slider {
		@media (max-width: $tablet) {
			margin: toRem(0) toRem(-15);
			padding: toRem(0) toRem(15);
		}
	}
	// .online__wrapper
	&__wrapper {
	}
	// .online__slide
	&__slide {
		overflow: hidden;
		border-radius: toRem(20);
	}
	// .online__arrows
	&__arrows {
	}
}
// Parag
.parag {
	@include adaptiveValue("padding-top", 85, 60);
	&__container {
		position: relative;
		&::before,
		&::after {
			z-index: -1;
			content: "";
			opacity: 0.65;
			width: toRem(306);
			position: absolute;
			height: toRem(232);
		}
		&::before {
			bottom: 0;
			left: toRem(0);
			transform: translate(-25%, 20%);
			background: url("@img/bg-text-left.svg") 0 0 / contain no-repeat;
		}
		&::after {
			top: toRem(0);
			right: toRem(0);
			transform: translate(25%, -20%);
			background: url("@img/bg-text-right.svg") 0 0 / contain no-repeat;
		}
	}
	// .parag__blocks
	&__blocks {
	}
	// .parag__item
	&__item {
	}
}
.item-parag {
	&:not(:last-child) {
		padding-bottom: toRem(20);
		border-bottom: toRem(1) solid rgba($bgColor, 0.15);
	}
	&:not(:first-child) {
		padding-top: toRem(20);
	}
	// .item-parag__title
	&__title {
		position: relative;
		padding-left: toRem(14);
		font-family: $fontFamilyMontAlt;
		&::before {
			left: 0;
			content: "";
			height: 100%;
			display: flex;
			position: absolute;
			min-width: toRem(3);
			border-radius: toRem(3);
			background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
		}
	}
	// .item-parag__body
	&__body {
		padding-top: toRem(15);
		@include adaptiveValue("font-size", 16, 14);
		span {
			font-weight: 600;
		}
	}
}
// ========================================================================================================================================================
