// ========================================================================================================================================================
// Chat
.chat {
	// .chat__container
	&__container {
	}
	// .chat__aside
	&__aside {
	}
	// .chat__content
	&__content {
	}
	// .chat__head
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .chat__title
	&__title {
	}
	// .chat__label
	&__label {
		border-radius: toRem(5);
		padding: toRem(5) toRem(10);
		background-color: rgba($pinkColor, 0.45);
		border: toRem(1) solid rgba($mainColor, 0.15);
	}
}
// ========================================================================================================================================================
