// ========================================================================================================================================================
// Payment
.payment {
	// .payment__container
	&__container {
	}
	// .payment__aside
	&__aside {
	}
	// .payment__content
	&__content {
	}
	// .payment__heading
	&__heading {
		.heading__text {
			max-width: 100%;
		}
	}
	// .payment__tabs
	&__tabs {
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .tabs-payment__body
	&__body {
	}
	// .payment__spollers
	&__spollers {
		.spollers__body {
			color: rgba($mainColor, 0.85);
		}
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .payment__bottom
	&__bottom {
	}
}
.body-tabs-payment {
	// .body-tabs-payment__term
	&__term {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .body-tabs-payment__subtitle
	&__subtitle {
		font-weight: 500;
		line-height: 125%;
		color: $mainColor;
		position: relative;
		padding-left: toRem(12);
		@include adaptiveValue("font-size", 20, 16);
		&::before {
			left: 0;
			content: "";
			height: 100%;
			display: flex;
			position: absolute;
			min-width: toRem(3);
			border-radius: toRem(3);
			background-color: $blueColor;
		}
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .body-tabs-payment__head
	&__head {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .body-tabs-payment__label
	&__label {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(5);
		align-items: center;
		column-gap: toRem(10);
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .body-tabs-payment__title
	&__title {
		font-weight: 500;
		line-height: 125%;
		background: linear-gradient(-90deg, $greenColor 0%, $yellowColor 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include adaptiveValue("font-size", 22, 18);
	}
	// .body-tabs-payment__span
	&__span {
		color: gainsboro;
		font-weight: 500;
		@include adaptiveValue("font-size", 22, 18);
	}
	// .body-tabs-payment__deal
	&__deal {
		flex-wrap: wrap;
		row-gap: toRem(10);
		align-items: center;
		column-gap: toRem(8);
		display: inline-flex;
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .body-tabs-payment__cost
	&__cost {
		display: flex;
		gap: toRem(4);
		align-items: center;
		@include adaptiveValue("font-size", 20, 16);
		span {
			gap: toRem(4);
			align-items: center;
			display: inline-flex;
			&::before {
				color: $redColor;
			}
		}
	}
	// .body-tabs-payment__method
	&__method {
		gap: toRem(4);
		align-items: center;
		display: inline-flex;
		padding-bottom: toRem(1);
		color: rgba($mainColor, 0.75);
		@include adaptiveValue("font-size", 18, 14);
		span {
			&::before {
				color: $redColor;
				@include adaptiveValue("font-size", 20, 16);
			}
		}
	}
	// .body-tabs-payment__button
	&__button {
		display: flex;
	}
}
// ========================================================================================================================================================
// Subscribe
.subscribe {
	// .subscribe__container
	&__container {
	}
	// .subscribe__heading
	&__heading {
		.heading__text {
			max-width: toRem(850);
		}
	}
	// .subscribe__methods
	&__methods {
		display: grid;
		gap: toRem(15);
		align-items: start;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: toEm(569.98)) {
			gap: toRem(25);
			grid-template-columns: auto;
		}
	}
	// .subscribe__method
	&__method {
	}
}
// ========================================================================================================================================================
