@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
@import url(https://fonts.googleapis.com/css?family=Kings:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,regular,500,600,700,800,900);

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto";
$fontFamilyNumbers: "Kings";
$fontFamilyMontAlt: "Montserrat Alternates";

$fontSize: toRem(16); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори аутентифікація
$primaryColor: #a594f9; // Колір шрифту за замовчуванням
$preprimaryColor: #f5f3ff; // Колір шрифту за замовчуванням
$secondtxtColor: #545454; // Колір шрифту за замовчуванням
$borderColor: #eff0f1; // Колір шрифту за замовчуванням
$placeholderColor: #959595; // Колір шрифту за замовчуванням
$redColor: #f73d58; // Колір шрифту за замовчуванням
$yellowColor: #ffba33; // Колір шрифту за замовчуванням
$blueColor: #66a1f7; // Колір шрифту за замовчуванням
$dashColor: #e0e0e0; // Колір шрифту за замовчуванням

// Основні кольори головний
$mainColor: #f7f8f9; // Колір шрифту за замовчуванням
$purpleColor: #2d1436; // Колір шрифту за замовчуванням
$orangeColor: #ff6a00; // Колір шрифту за замовчуванням
$pinkColor: #ee0979; // Колір шрифту за замовчуванням
$greenColor: #23a640; // Колір шрифту за замовчуванням

$gradientOrange: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%); // Колір шрифту за замовчуванням
$gradientPink: linear-gradient(90deg, #514197 0%, #7e1450 100%); // Колір шрифту за замовчуванням
$gradientBlue: linear-gradient(90deg, #f7f8f9 0%, #6a67e1 100%); // Колір шрифту за замовчуванням

$bgColor: #230e2b; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1160;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	background-color: $bgColor;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	.loaded & {
	}
}
.auth-body {
	font-size: toRem(14);
	&::-webkit-scrollbar {
		display: none;
	}
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================
// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}
[class*="__container-mob"] {
	margin: 0 auto;
	box-sizing: content-box;
	max-width: toRem(767.98);
	padding: toRem(0) toRem(15);
}
// ========================================================================================================================================================
// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів загальних елементів проекту
@import "common";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Підключення стилів окремих блоків
@import "header";
@import "footer";
// $=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=->
// Main Styles Of Pages
@import "home";
@import "search";
@import "profile";
@import "recognition";
// ========================================================================================================================================================
// Breadcrumbs
.breadcrumbs {
	@include adaptiveValue("padding-top", 35, 30);
	@include adaptiveValue("padding-bottom", 30, 25);
	// .breadcrumbs__container
	&__container {
	}
	// .breadcrumbs__list
	&__list {
		gap: toRem(5);
		flex-wrap: wrap;
		line-height: 125%;
		align-items: center;
		display: inline-flex;
		border-radius: toRem(10);
		background: $gradientPink;
		padding: toRem(5) toRem(7);
		font-family: $fontFamilyMontAlt;
		@media (max-width: $mobileSmall) {
			gap: toRem(3);
		}
	}
	// .breadcrumbs__item
	&__item {
		display: flex;
		gap: toRem(5);
		align-items: center;
		&:not(:first-child) {
			&::before {
				@extend %ic;
				opacity: 0.75;
				font-weight: 600;
				content: "\e902";
				font-size: toRem(20);
				transform: rotate(90deg);
			}
		}
		@media (max-width: $mobileSmall) {
			gap: toRem(3);
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: opacity 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .breadcrumbs__current
	&__current {
		font-weight: 500;
		color: $orangeColor;
		pointer-events: none;
	}
}
// ========================================================================================================================================================
